<p>JavaScript notes about database integration and how to make db queries accross various JS frameworks.</p>
<p>Documentaion will be linked but quick notes will be here.</p>
Currently only contains Express.js and PostgreSQL integration notes.

DB notes on other JS/TypeScript frameworks like Fastify (fastify-postgres<!-- or can you simply reuse pg-promise?-->) and Nest.js (nestjs-pgpromise)<!--, Angular Universal, Next.js--> and other DBs like Cassandra, MongoDB, and MySQL may be added in the future.

These notes may also expand outside of JS/TS and include DB notes on python (psycopg2, django, sqlalchemy) and Rust in the future.