<!DOCTYPE html>
<html>
  <head>
    <title>JS DB Notes</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js?autoload=true&amp;skin=sunburst&amp;lang=css" defer=""></script>
  </head>
  <body>
    <a class="tab" href="/">DB Notes</a>
    <a class="tab" href="/about">About</a>
    <div id="body">
      {{{body}}}
    </div>
  </body>
</html>
