#body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.tab {
  color: black;
  font: 30px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 10px;
}

code {
  background-color:lightgray;
}

.queryFunc {
  background-color: aliceblue;
}

.interact {
  
}